{% load image_tags %}
{% if talks %}
<section class="section section--talks" id="talks">
	<h2 class="section__header">MEDIA <a href="#talks"><i class="fa fa-chain fa-chain-big"></i></a></h2>
	<div class="section__content">
		<div class="section__row">
		{% for talk in talks %}
			<div class="item item--text" id="{{ talk.slug }}">
				{% if talk.primary_image %}
				<a href="{{ talk.link }}" target="_blank">
					<img 
					class="item__image" 
					src="{{ MEDIA_URL }}{{ talk.primary_image.image }}?width=full" 
					srcset="{{ talk.primary_image.image | srcset}}"
					sizes="(min-width: 1140px) 514px"
					alt="{{ item.name }}" 
					loading="lazy" 
				/>
				</a>
				{% endif %}

				<h3 class="item__name">
					Media: <a href="{{ talk.link }}" target="_blank">{{ talk.name }}</a> <a href="#{{ talk.slug }}"><i class="fa fa-chain"></i></a>
				</h3>

				{% if talk.info %}
				<div class="item__meta">
					<span class="item__key">Info: </span>
					<span class="item__value">{{ talk.info }}</span>
				</div>
				{% endif %}

				{% if talk.project %}
				<div class="item__meta">
					<span class="item__key">Project: </span>
					<span class="item__value">
						<a href="#{{ talk.project.slug }}">{{ talk.project.name }}</a>
					</span>
				</div>
				{% endif %}

				{% if talk.system %}
				<div class="item__meta">
					<span class="item__key">System: </span>
					<span class="item__value">
						<a href="#{{ talk.system.slug }}">{{ talk.system.name }}</a>
					</span>
				</div>
				{% endif %}

				{% if talk.texts.all %}
				<div class="item__meta">
					<span class="item__key">Texts: </span>
					<span class="item__value">
					{% for text in talk.texts.all %}
						<a class="item__text" href="#{{text.slug}}">{{text.name}}</a>{% if forloop.last %}{% else %}, {% endif %}
					{% endfor %}
					</span>
				</div>
				{% endif %}

				{% if talk.talks.all %}
				<div class="item__meta">
					<span class="item__key">Media: </span>
					<span class="item__value">
					{% for talk in talk.talks.all %}
						<a class="item__talk" href="#{{talk.slug}}">{{talk.name}}</a>{% if forloop.last %}{% else %}, {% endif %}
					{% endfor %}
					</span>
				</div>
				{% endif %}

				{% if talk.press %}
				<div class="item__meta">
					<span class="item__key">Press: </span>
					<span class="item__value">
						{{talk.press|safe}}
					</span>
				</div>
				{% endif %}
			</div>
		{% if forloop.counter|divisibleby:"2" %}
		</div>
		<div class="section__row">
		{% endif %}
		{% endfor %}
	</div>
</section>
{% endif %}