name: deploy-staging
on:
  workflow_dispatch:
concurrency: staging
    
defaults:
  run:
    shell: bash
jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - uses: actions/setup-python@v6
      - uses: abatilo/actions-poetry@v3
      - run: npm ci
      - run: poetry install --sync
      - name: Deploy staging
        run: npm run deploy:staging
      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id EXA34HQT3K2S7 \
            --paths "/base/*"