name: pr
on:
  pull_request:
  workflow_dispatch:
    
defaults:
  run:
    shell: bash
jobs:
  deploy-dry:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
      - uses: actions/setup-python@v6
      - uses: abatilo/actions-poetry@v3
      - run: npm ci
      - run: poetry install --sync
      - name: Dry deploy
        run: npm run deploy:dry